a :hover {
  color: #EAF6F6;
}

body{
margin:0;
text-align:center;
font-family:'merriweather', serif;
}

hr {

  border-top: 10px dotted #DDDDDD ;
  width: 3%;
  margin: 100px auto;
}


h1{
  font-size: 5.62rem;
  color: #66BFBF;

margin-top: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #40514E;
  font-family: sans-serif;
    line-height: 2;
    text-align: center;
}


.footer-link{
  font-family: "Montserrat", sans-serif;
  color: #11999E;
  line-height: 2;
  text-decoration: none;
  font-size: 1.3rem;
padding-right: 20px;
}
.footer-link:hover {
  background-color: #EAF6F6;
}


.top-container {
position:relative;
  background-color: #EAF6F6;
padding-top: 100px;
}
.marleticon {
  height: 15%;
  width: 15%;
float: center;
}
.pro {
  text-decoration: underline;
}
.mountain {position: absolute;
  display: inline-block;}

.bottom-cloud { position: absolute;
  left: 300px;
  top: 300px;

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.computer {
  height: 15%;
  width: 15%;
  float: left;
margin-right: 30px;
}

.paintingicon{
  height: 15%;
  width: 15%;
  float: right;
  margin-left: 30px;
}

.eduiconed {
  height: 15%;
  width: 15%;
float: left;
margin-right: 30px;
line-height: 2;
}
.profile {
  width: 40%;
margin: 100px auto 100px auto;
line-height: 2;
}
.profile1 {
  height: 15%;
  width: 15%;
float: left;
margin: 30px;

}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
}

.skilldescript{
  text-align: left;
}

.hobbiesdecript{
  text-align: left;
  clear: left;

}

.contact-me {
  width: 50%;
margin: 100px auto 100px auto;
line-height: 2;
text-align: center;

}
.bottom-container{
background-color: #66BFBF;
padding-top: 100px;
padding-bottom: 1px;
}

.copyright {
  font-family: sans-serif;
  color: #EAF6F6;
}

.button {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 31px;
  background: #66BFBF;
  padding: 13px 23px 13px 23px;
  text-decoration: none;
}

.button:hover {
  background: #CCF3EE;
  text-decoration: none;
}
